.header__logo {
  height: 33px;
  object-fit: contain;
  object-position: left;
  display: block;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-left: 27px;
  }
}
