.profile__info {
  /* Единственный элемент из соседних, котором можно уширяться */
  flex-grow: 1;
  max-width: calc(100% - 130px - 150px - 50px); /* Ограничение по ширине */
  /* Расположение элементов внутри */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 850px) {
  .profile__info {
    max-width: 100%; /* На неболших экранах ширина полностью */
    margin-bottom: 36px;
    margin-top: 26px;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin-top: 26px;
    gap: 14px;
    margin-bottom: 36px;
    width: calc(100% - 2 * 19px); /* Поля 19px */
  }
}
