.header {
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
    width: 100%; /* Нет полей */
    box-sizing: border-box;
  }
}

/* .header {
  padding: 45px 0 37px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);

}

@media screen and (max-width: 425px) {
  .header {
    padding: 28px 27px 27px;
  }
} */
